<div class="container col-md-offset-3">
  <form>
  
   <!-- <div class="form-group">
     <label for="id">ID</label>
       <input #ID type="text" class="form-control" id="id" placeholder="Enter ID" required  name="id">
      </div> -->

  
    <!--<div class="form-group">
      <label for="text">Text Area</label>
      <input #text type="text" class="form-control" text="text" placeholder="Enter text" required name="text">
     </div>-->
     <h2>Text Area</h2>
     <textarea #text rows="10" cols="100" placeholder="enter your text here"></textarea><br>
     
    <button type="button" class="btn btn-primary" (click)='saveDetails(text.value)'>Post</button>
 </form>
</div>
