  
      <ul class="nav flex-column">
          <li class="nav-item" >
            <a class="nav-link" routerLink = '/form' >Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recent Searches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Favourites</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
    